:root {
  --zaa-margin-10: 10px;
  --zaa-margin-20: 20px;
  --zaa-margin-50: 50px;
}

/* Lists */
.listHeader {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: var(--color-main-background);
  border-bottom: 1px solid var(--color-border);
  display: flex;
}

.searchField {
  padding-inline-start: 65px;
  padding-inline-end: 20px;
  margin-block-start: 11px !important;
  margin-block-end: 11px !important;
}

.selectedZaakIcon > svg {
  fill: white;
}

/* Detail pages */
.detailContainer {
  margin-block-start: var(--zaa-margin-20);
  margin-inline-start: var(--zaa-margin-20);
  margin-inline-end: var(--zaa-margin-20);
}

.tabContainer > * ul > li {
  display: flex;
  flex: 1;
}

.tabContainer > * ul > li:hover {
  background-color: var(--color-background-hover);
}

.tabContainer > * ul > li > a {
  flex: 1;
  text-align: center;
}

.tabContainer > * ul > li > .active {
  background: transparent !important;
  color: var(--color-main-text) !important;
  border-bottom: var(--default-grid-baseline) solid var(--color-primary-element) !important;
}

.tabContainer > * ul[role="tablist"] {
  display: flex;
  margin: 10px 8px 0 8px;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-border);
}

.tabContainer > * ul[role="tablist"] > * a[role="tab"] {
  padding-inline-start: 10px;
  padding-inline-end: 10px;
  padding-block-start: 10px;
  padding-block-end: 10px;
}

.tabContainer > * div[role="tabpanel"] {
  margin-block-start: var(--zaa-margin-10);
}

.tabPanel {
  padding: 20px 10px;
  min-height: 100%;
  max-height: 100%;
  height: 100%;
  overflow: auto;
}

.detailGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* Modals */
.form-group > * {
  margin-block-end: 10px;
}

.input-field__label {
  margin-block: -6px;
}

.input-field__input:focus + .input-field__label {
  margin-block: 0px;
}

.success {
  color: green;
}

.modalContent {
  margin: var(--zaa-margin-50);
  text-align: center;
}
