#app-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#dsonextcloud {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#dsonextcloud > button {
  margin-bottom: 30px;
}

.gif-wrapper {
  display: flex;
  align-items: center;
}

#dsonextcloud.fixed-size img {
  width: auto;
  height: 100px;
}

header {
  background-color: #275937 !important;
}

body {
  background-image: none !important;
  background-color: #ffffff !important;
}

hr {
  color: #cccccc;
}

/* Headings */
h1 {
  display: block !important;
  font-size: 2em !important;
  margin-block-start: 0.67em !important;
  margin-block-end: 0.67em !important;
  margin-inline-start: 0px !important;
  margin-inline-end: 0px !important;
  font-weight: bold !important;
  unicode-bidi: isolate !important;
}
h2 {
  display: block !important;
  font-size: 1.5em !important;
  margin-block-start: 0.83em !important;
  margin-block-end: 0.83em !important;
  margin-inline-start: 0px !important;
  margin-inline-end: 0px !important;
  font-weight: bold !important;
  unicode-bidi: isolate !important;
}
h3 {
  display: block !important;
  font-size: 1.17em !important;
  margin-block-start: 1em !important;
  margin-block-end: 1em !important;
  margin-inline-start: 0px !important;
  margin-inline-end: 0px !important;
  font-weight: bold !important;
  unicode-bidi: isolate !important;
}
h4 {
  display: block !important;
  margin-block-start: 1.33em !important;
  margin-block-end: 1.33em !important;
  margin-inline-start: 0px !important;
  margin-inline-end: 0px !important;
  font-weight: bold !important;
  unicode-bidi: isolate !important;
}
h5 {
  display: block !important;
  font-size: 0.83em !important;
  margin-block-start: 1.67em !important;
  margin-block-end: 1.67em !important;
  margin-inline-start: 0px !important;
  margin-inline-end: 0px !important;
  font-weight: bold !important;
  unicode-bidi: isolate !important;
}
h6 {
  display: block !important;
  font-size: 0.67em !important;
  margin-block-start: 2.33em !important;
  margin-block-end: 2.33em !important;
  margin-inline-start: 0px !important;
  margin-inline-end: 0px !important;
  font-weight: bold !important;
  unicode-bidi: isolate !important;
}
